body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  transition: background 0.3s ease;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 15px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  transition: background 0.3s ease, color 0.3s ease;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 20px;
  margin: 0;
}

#darkBtn {
  background: #333;
  padding: 8px 10px;
  font-size: 14px;
}

#counter {
  text-align: center;
  font-size: 14px;
  color: gray;
}

.input-group {
  display: flex;
  gap: 5px;
  margin-top: 15px;
}

input {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
}

button {
  padding: 12px;
  border: none;
  background: #667eea;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.2s ease;
}

button:hover {
  background: #5a67d8;
  transform: scale(1.05);
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.filters button {
  flex: 1;
  margin: 2px;
  font-size: 14px;
  padding: 8px;
}

li {
  list-style: none;
  background: #f1f1f1;
  margin-top: 10px;
  padding: 12px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

li:hover {
  transform: scale(1.02);
  background: #e2e8f0;
}

li button {
  background: red;
  padding: 6px 10px;
  font-size: 14px;
}

.completed {
  text-decoration: line-through;
  color: gray;
  opacity: 0.7;
}

body.dark {
  background: #1a202c;
}

body.dark .container {
  background: #2d3748;
  color: white;
}

body.dark li {
  background: #4a5568;
}

body.dark input {
  background: #2d3748;
  color: white;
  border: 1px solid #555;
}

body.dark button {
  background: #4c51bf;
}

body.dark li button {
  background: #e53e3e;
}

/* ===== MOBILE ===== */
@media (max-width: 480px) {
  h1 {
    font-size: 18px;
  }

  input {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }
}

.floating-back {
  position: fixed;
  top: 20px;
  left: 20px;

  width: 45px;
  height: 45px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #1e293b;
  color: #e2e8f0;

  border-radius: 50%;
  text-decoration: none;

  font-size: 20px;
  font-weight: bold;

  box-shadow: 0 10px 25px rgba(0,0,0,0.3);

  transition: 0.3s;
  z-index: 1000;
}

.floating-back:hover {
  transform: scale(1.1);
  background: #334155;
}

