body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #0f172a, #4c1d95);
}

.calculator {
  width: 280px;
  padding: 20px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);

  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
  border: 1px solid rgba(255,255,255,0.2);
}

#display {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 12px;

  text-align: right;
  font-size: 24px;
  padding: 10px;

  background: rgba(255,255,255,0.15);
  color: white;

  margin-bottom: 15px;
  outline: none;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 15px;
  border: none;
  border-radius: 12px;

  font-size: 18px;
  cursor: pointer;

  background: rgba(255,255,255,0.15);
  color: white;

  transition: all 0.2s ease;
}

button:hover {
  transform: scale(1.05);
  background: rgba(255,255,255,0.3);
}

button:nth-child(15) {
  background: #22c55e;
  color: white;
}

button:nth-child(13) {
  background: #ef4444;
}

/* ===== MOBILE ===== */
@media (max-width: 480px) {
  .calculator {
    width: 90%;
  }
}

.floating-back {
  position: fixed;
  top: 20px;
  left: 20px;

  width: 45px;
  height: 45px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #1e293b;
  color: #e2e8f0;

  border-radius: 50%;
  text-decoration: none;

  font-size: 20px;
  font-weight: bold;

  box-shadow: 0 10px 25px rgba(0,0,0,0.3);

  transition: 0.3s;
  z-index: 1000;
}

.floating-back:hover {
  transform: scale(1.1);
  background: #334155;
}
